.got-card{
    background-color: #D4E9E2;
}
.got-card .dflex{
    padding: 20px 0;
    justify-content: space-between;
}
.got-card h5{
    font-size: 24px;
    font-weight: 600;
    margin-right: 10px;
}
.got-card p{
    font-size: 19px;
    color: rgba(0,0,0,.87);
}
.add-reload{
    background: none;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-weight: 600;
    line-height: 1.2;
    padding: 7px 16px;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    transition: all .2s ease;
    transition: var(--buttonTransition);
    font-size: 16px;
    margin: 0 16px;
}
.check-balance{
    background: black;
    color: white;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-weight: 600;
    line-height: 1.2;
    padding: 7px 16px;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    transition: all .2s ease;
    transition: var(--buttonTransition);
    font-size: 16px;

}
.got-card .question-link{
    text-decoration: none !important;
    font-weight: 600;
}

.check-balance:hover{
    background-color: rgba(0, 0, 0, 0.662);
}
.add-reload:hover{
    background-color: rgba(128, 128, 128, 0.121);
}
.question-link pre{
    display: inline-block;
}

@media screen and (max-width:1280px) {
    .get-card{
        display: block;
    }
    .get-card>.dflex{
        justify-content: flex-start;
        gap: 30px;
    }
    .card-term-link{
        text-align: end;
    }
}
@media screen and (max-width:992px) {
   
    .get-card>.dflex{
      display: block;
    }
    .get-card .dflex .dflex{
        justify-content: flex-start;
    }
    .card-term-link{
        text-align: end;
    }
}
@media screen and (max-width:768px) {
   
    .earn-btns{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        justify-content: flex-start;
    }
    .earn-btns p{
        text-align: flex-start !important;
    }
    .earn-btns button{
        margin: 10px 0;
    }
}