.cash-cards{
    background-color: #F2F0EB;
    padding: 48px 0;
}
.cash-cards>div>h3{
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}
.cash-cards>div>p{
    text-align: center;
    padding-top: 16px;
    width: 50%;
    margin: 0 auto;
    opacity: 0.95;
}

.cash-cards .dflex{
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    gap: 25px;
}
.cash-flex{
    display: flex;
    padding-top: 30px;
    gap: 30px;
}
.cash-flex:first-of-type{
    border-bottom: 1px solid rgba(0, 0, 0, 0.124);
    padding-bottom: 30px;
}
.cash-flex h3{
    font-size: 24px;
    font-weight: 600;
}
.cash-flex p{
    padding-top: 20px;
    opacity: 0.90;
}

.cash-content{
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    align-items: flex-flex-start;
    width: 31%;
    gap: 20px;
}

.cash-content img{
    width: 112px;
    height: 100%;
}
.cash-content h4{
    font-weight: 600;
    font-size: 19px;
}
.cash-content p{
    line-height: 24px;
}

@media screen and (max-width: 1280px) {
    .cash-content{
        width: 70%;
    }
    .cash-money{
        width: 33%;
    }
}
@media screen and (max-width: 1024px) {
   .cash-flex{
    flex-direction: column;
   }
   .cash-content{
    width: 100%;
   }
   .cash-money{
    width: 100%;
   }
   .cash-content p, .cash-money p{
    width: 100% !important;
    text-align: flex-start !important;
   }

}



